
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: transparent;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav img.logo {
    width: 128px;
}

nav .nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}


nav .nav-icons img {
    margin-left: 15px;
    width: 25px;
    height: 25px;
}

/* Buttons */
button {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}

button.primary {
    background: #3e6ae1;
    color: white;
}

button.secondary {
    background: #fff;
    color: rgb(55, 52, 52);
    border: 1px solid #ccc;
}


main {
    height:100vh;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Meet-Model-Y-Desktop.jpg") no-repeat center center/cover;
    height: 100vh;
    padding: 120px 20px;
    text-align: center;
    color: white;
}

#hero h3 {
    font-size: 48px;
    margin-bottom: 10px;
}

#hero p {
    font-size: 20px;
    margin-bottom: 20px;
}


#carousel {
display: flex;
    gap: 40px;            
    overflow: hidden;      
    padding: 20px;
    justify-content: flex-start;
    width: 100%;
}
.card {
    height: 580px;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card-1 {
    background: url("directory/card-1.png") center center no-repeat;
    background-size: cover;
      border-radius: 10px;
    
}
.card-2{
    background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-S-Desktop-US-v3.jpg")center center no-repeat;
  background-size: cover;
    border-radius: 10px;
   
}
.card-3{
    background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-3-Desktop-US_PR_MX.jpg")center center no-repeat;
  background-size: cover;
    border-radius: 10px;
    
}
.card-4{
    background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-X-Desktop-US_PR_MX.jpg")center center no-repeat;
  background-size: cover;
  border-radius: 10px;

}

/* Footer */
.footer {
    position: fixed;  
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px 0;
    z-index: 1000;
}

.footer ul {
    width: 82%;
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

.footer ul li {
    margin: 0.5rem 0;
}

.footer ul li a {
    color: rgb(157, 157, 157);
    font-size: 12px;
    text-decoration: none;
}
